<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>48694069747-1ta21tj2pj21bkmhupenl89agnc8mhc0.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>48694069747-4vdoj88vtt582fet39ori18kr5jam2rs.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.48694069747-4vdoj88vtt582fet39ori18kr5jam2rs</string>
			</array>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
